.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* LEFT */
.left {
  width: 50%;
}

.badge {
  display: inline-block;
  background: rgba(252, 131, 44, 0.12);
  color: var(--primary);
  padding: 6px 18px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.title {
  font-weight: 600;
  font-size: 80px;
  line-height: 82px;
  letter-spacing: -2%;
}

.title span {
  font-style: Italic;
  color: var(--primary);
}

.subtitle {
  width: 510px;
  height: 72px;
  color: #191a15;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
}

.cta {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  padding: 12px 26px;
  background: var(--primary);
  color: #fff;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.arrow {
  transform: rotate(-45deg);
  transition: transform 0.2s ease;
}

.cta:hover .arrow {
  transform: rotate(-45deg) translateX(3px);
}


/* RIGHT */
.right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}

.heroImage {
  width: 420px;
  border-radius: 22px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
}

/* Resmin sol altındaki kutu */
.expert{
  display: flex;
  align-items: end;
  justify-content: end;


}
/* TURUNCU KUTU */
.expertBox {
  position: absolute;
  bottom: 60px;
  left: -20px;
  display: flex;
  align-items: center;
  background: var(--primary);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  color: #fff;
}

/* SOLDAKİ BEYAZ KUTU */
.expertIcon {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.check {
  color: var(--primary);
  font-size: 18px;
  font-weight: 900;
}

/* SAĞDAKİ YAZI BÖLÜMÜ */
.expertText {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.expTitle {
  font-size: 13px;
  opacity: 0.9;
  margin: 0;
}

.expNumber {
  font-size: 20px;
  margin: 4px 0 0;
  font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 960px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }

  .heroImage {
    width: 90%;
  }
}
